<main>
    <h1>Bienvenido al proyecto de Backend 2</h1>
    <h2>Inicia sesioÌn</h2>
    <form action="/session/login" method="POST">
    <input type="text" name="email">
    <input type="password" name="password">
    <button type="submit">Login</button>
    </form>
    <form action="/session/github" method="GET"><button type="submit">Github</button></form>
    <h2>Registrate</h2>
    <form action="/session/register" method="POST">
    <input type="text" name="name">
    <input type="text" name="email">
    <input type="password" name="password">
    <button type="submit">Register</button>
    </form>
</main>